<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="icu.yeguo.cloudnest.mapper.FileMapper">

    <resultMap id="BaseResultMap" type="icu.yeguo.cloudnest.model.entity.File">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="size" column="size" jdbcType="BIGINT"/>
            <result property="fileHash" column="file_hash" jdbcType="VARCHAR"/>
            <result property="sourceName" column="source_name" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
            <result property="deletedAt" column="deleted_at" jdbcType="TIMESTAMP"/>
    </resultMap>

</mapper>
