<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="icu.yeguo.cloudnest.mapper">

    <resultMap id="BaseResultMap" type="icu.yeguo.cloudnest.model.entity.Group">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="storagePolicy" column="storage_policy" jdbcType="VARCHAR"/>
        <result property="maxStorage" column="max_storage" jdbcType="BIGINT"/>
        <result property="shareEnabled" column="share_enabled" jdbcType="TINYINT"/>
        <result property="webDevEnabled" column="web_dev_enabled" jdbcType="TINYINT"/>
        <result property="speedLimit" column="speed_limit" jdbcType="INTEGER"/>
        <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
        <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
        <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, storage_policy, max_storage, share_enabled, web_dev_enabled,
        speed_limit, created_at, updated_at, is_deleted
    </sql>

</mapper>
