<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="icu.yeguo.cloudnest.mapper.PolicyMapper">

    <resultMap id="BaseResultMap" type="icu.yeguo.cloudnest.model.entity.Policy">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="fileDirNameRule" column="file_dir_name_rule" jdbcType="VARCHAR"/>
        <result property="fileNameRule" column="file_name_rule" jdbcType="VARCHAR"/>
        <result property="avatarFileNameRule" column="avatar_file_name_rule" jdbcType="VARCHAR"/>
        <result property="chunkDirNameRule" column="chunk_dir_name_rule" jdbcType="VARCHAR"/>
        <result property="chunkFileNameRule" column="chunk_file_name_rule" jdbcType="VARCHAR"/>
        <result property="emptyFileNameRule" column="empty_file_name_rule" jdbcType="VARCHAR"/>
        <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
        <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
        <result property="deletedAt" column="deleted_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="findPolicyByUserId" resultType="icu.yeguo.cloudnest.model.entity.Policy" parameterType="int">
        select *
        from cn_policies p
                 inner join cn_groups g on g.policy_id = p.id
                 inner join cn_users u on u.group_id = g.id
        where u.id = #{userId};
    </select>
</mapper>
